<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <title>
    <%- htmlWebpackPlugin.options.metadata.title%>
  </title>
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  <!-- imported CSS are concatenated and added automatically -->
  <link rel="manifest" href="manifest.json"></link>

  <% if(htmlWebpackPlugin.options.metadata.development){ %>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.unregister();
      }
    </script>
  <% } %>
  <% if(htmlWebpackPlugin.options.metadata.production){ %>
    <script>
      if ('serviceWorker' in navigator && true) {

        console.log('')
        //navigator.serviceWorker.unregister();
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('service-worker.js').then(registration => {
            console.log('SW registered: ', registration);
          }).catch(registrationError => {
            console.log('SW registration failed: ', registrationError);
          });
        });
        if (navigator.serviceWorker.controller) {
          navigator.serviceWorker.controller.onstatechange = function (event) {
            console.log('event.target.state', event.target.state);
            if (event.target.state === 'redundant') {
              window.location.reload();
            }
          };
        }
      }

    </script>
  <% } %>
</head>

<body aurelia-app="main">
  <h1>Cargando...</h1>
  <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>
