<template>
  <require from="./home.css"></require>
  <div class="home-div">
    <div class="matricula-field">
      <!-- <label>Matrícula</label> -->
      <form class="pure-form">
        <input class="${(!matriculaValida && blob) ? 'matricula-invalida' : ''}" id="matricula-input" value.bind="matricula" focus type="text"
          placeholder="Matrícula">
      </form>
      <div class="ui two buttons">
        <button class="pure-button" show.bind="playing && !blob" class="ui basic green button" click.delegate="takePhoto()">Tomar foto!</button>
        <button class="pure-button pure-button-primary" show.bind="blob && matriculaValida" class="ui basic green button" click.delegate="submit()">Grabar</button>
        <button class="pure-button button-warning" show.bind="playing && blob" click.delegate="blob = false" class="ui basic red button">Cancelar</button>
      </div>
    </div>
    <div class="image">
      <video show.bind="playing && !blob" autoplay></video>
      <img show.bind="playing && blob" id="imageTag" name="image">
    </div>
  </div>
  


</template>
