.home-div {
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
}

@media (min-width: 561px) {
  .home-div {
    max-width: 800px;
  }
}

.image {
  /* width: 90%; */
  margin: auto;
  margin-top: 10px;
}

video,
img {
  width: 100%;
  border-radius: 5px;
}

.matricula-field {
  display: flex;
  align-items: baseline;
  & input {
    width: 100px;
  }
  & .buttons {
    margin-left: 10px;
  }
  & .matricula-invalida {
    &::placeholder {
      color: red;
      opacity: 1;
    }
    color: red;
  }
}
