<template>
  <require from="./login.css"></require>

  <div class="login">
    <h2 class="login-header">Ingreso</h2>
    <form class="login-container">
      <p>
        <input value.bind="email" type="text" placeholder="Email">
      </p>
      <p>
        <input value.bind="password" type="password" placeholder="Password">
      </p>

      <p>
        <p>
          <input click.trigger="submit()" type="submit" value="Ingresar">
        </p>
    </form>
  </div>


</template>
