<template>
  <!-- <require from="semantic-ui-css/semantic.css"></require> -->
  <require from="./pure.css"></require>
  <require from="./app.css"></require>
  <div id="app-div">
    <div class="pure-menu pure-menu-horizontal">
      <a href="#" class="pure-menu-heading pure-menu-link">IAE</a>
      <ul class="pure-menu-list menu-right">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" click.delegate="auth.logout()">Salir</a></li>
    </ul>
    </div>
    <hr>
    <div id="router-div">
      <router-view containerless></router-view>
    </div>
    <div id="spinner"></div>
</template>
